<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Mystery Music App</title>
  </head>
  <body>
      <h1>Mystery Music App</h1>
      <p>Favourites Page</p>
     
<label for="favourites">Favourites:</label><input id="favourites" type="text"><br>
        <br>
            <button id="update profile" type="submit">Update profile</button>
    </body>
  <script src="./media/profile_update.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</html>