doctype html
html
  head
    meta(charset='utf-8')
    meta(name='description', content='')
    title Mystery Music App
   
 
   header
      h1 Mystery Music App
      p Favourites Page
     
       
        
        br
        label(for="favourites") Favourites:
        input(id="favourites",type='text')
        br
        
        button.button(id= "update profile",type="submit") Update Profile
      
       
         
   script(src='./media/profile_update.js')
   script(src='//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js', type='text/javascript')
