doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='description', content='')
    title Mystery Music App
    link(rel='stylesheet', type='text/css', href='/css/reset.css')
    link(rel='stylesheet', type='text/css', href='/css/structure.css')
    link(rel='stylesheet', href='http://code.jquery.com/ui/1.10.1/themes/base/jquery-ui.css')
    script(type='text/javascript', src='/js/jquery.js')
    script(type='text/javascript', src='/js/menu.js')
    script(src='//code.jquery.com/jquery-1.10.2.js')
    script(src='//code.jquery.com/ui/1.10.4/jquery-ui.js')
  body
   header
      h1 Mystery Music App
      p Login
      
        label(for="username") User Name:
        input(id="username",type='text')
        br
        label(for="password") Password:
        input(id="password",type='text')
        br
        button.button(id= "submit",type="submit") Login
      
       
         
   script(src='./media/main.js')
   script(src='//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js', type='text/javascript')
