<!DOCTYPE html>
<html>
	
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<title>Json and Ajax</title>
	<link rel="stylesheet" href="styles.css">
</head>
<body>
	

<header>
	<h1>JSON and AJAX</h1>
	<BUTTON id="btn"> press me </BUTTON>
	</hr>
	
	
	<div>
		<input type ="text" id="fname"><br>
		<input type ="text" id="lname"><br>
		<input type="submit" value="submit" id="submit">
	</div>
		

	

</header>

<div id="animal-info"></div>

<script src="./media/main.js"></script>






</body>
</html>
