doctype html
html
  head
  link(rel='stylesheet', href='stylesheets/styles.css', type='text/css')
  meta(name='viewport', content='width=device-width, initial-scale=1')
  title Json and Ajax
  body
    header
      h1 Mystery Music App
      p Login
      div
        input#fname(type='text')
        br
        input#lname(type='text')
        br
        input#submit(type='submit', value='submit')
      div
        inputput#email(type='text')
          br
    #animal-info
    div 
 each song in songs
       p  #{song.title}
    script(src='./media/main.js')
    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js', type='text/javascript')
