doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='description', content='')
    title Mystery Music App
    link(rel='stylesheet', type='text/css', href='/css/reset.css')
    link(rel='stylesheet', type='text/css', href='/css/structure.css')
    link(rel='stylesheet', href='http://code.jquery.com/ui/1.10.1/themes/base/jquery-ui.css')
    script(type='text/javascript', src='/js/jquery.js')
    script(type='text/javascript', src='/js/menu.js')
    script(src='//code.jquery.com/jquery-1.10.2.js')
    script(src='//code.jquery.com/ui/1.10.4/jquery-ui.js')
  body
    #content
      .topContent
        fieldset
          br
          label Welcome  
      #menu
        fieldset
          li
            label
              a(href='/user')
                span Profile
          
          li
            label
              a(href='/password')
                span Password Setting
          
          li
            label
              a(href='/favorite songs')
                span Favorite Songs
          li
            label
              a(href='/logout')
                span Log Out
