
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Mystery Music App</h1>
    <h2>Login</h2>
    <!-- need to include error message and check variable-->
    <label for="email">Username:</label><input id="email" type="text"><br>
    <label for="password">Password:</label><input id="password" type="text"><br>
    <button id="submit_login" type="submit">Login</button>
  </body>
  <script src="./media/main.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</html>