
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Mystery Music App</h1>
    <h2>Sign Up</h2>
    <label for="firstname">First Name:</label><input id="firstname" name="name" type="text" placeholder=" Enter your first name"><br>
    <label for="lastname">Last Name:</label><input id="lastname" name="name" type="text" placeholder=" Enter your last name"><br>
    <label for="email">Email:</label><input id="email" email="email" type="text" placeholder=" Enter your email"><br>
    <label for="password">Password:</label><input id="password" password="password" type="string" placeholder=" Enter your password"><br>
    <br>
    <button id="submit" type="submit">Create new account</button>
  </body>
  <script src="./media/signup_client.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</html>