<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
      <h1> Mystery Music App</h1>
      <p>Favourites Page</p>
     
<label for="favourites">Favourites:</label><input id="song_id" type="text"><br>
        <br>
            <button id="submit" type="submit">Favourite</button>
    </body>
  <script src="./media/song_selector.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</html>