.FUNK {

background: #283C86;  /* fallback for old browsers */
background: -webkit-linear-gradient(to top, #283C86, #45A247);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to top, #283C86, #45A247); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.POP {

background: #FFCEBC;  /* fallback for old browsers */
background: -webkit-linear-gradient(to top, #FFCEBC, #ED4264);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to top, #FFCEBC, #ED4264); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.ELECTRONICA {

background: #4389A2;  /* fallback for old browsers */
background: -webkit-linear-gradient(to top, #4389A2, #5C258D);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to top, #4389A2, #5C258D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.ROCK {

background: #45B649;  /* fallback for old browsers */
background: -webkit-linear-gradient(to top, #45B649, #DCE35B);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to top, #45B649, #DCE35B); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.ALTERNATIVE {

background: #FFFDE4;  /* fallback for old browsers */
background: -webkit-linear-gradient(to top, #FFFDE4, #005AA7);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to top, #FFFDE4, #005AA7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.FOLK {

background: #F8FFAE;  /* fallback for old browsers */
background: -webkit-linear-gradient(to top, #F8FFAE, #43C6AC);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to top, #F8FFAE, #43C6AC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}


