@font-face {
  font-family: 'Righteous';
  src: url('/fonts/Righteous/Righteous-Regular.ttf');
}
/* @font-face {
    font-family: "Righteous";
    src: url("fonts/Righteous/Righteous-Bold.ttf");
    font-weight: bold;
}
@font-face {
    font-family: "Righteous";
    src: url("fonts/Righteous/Righteous-Oblique.ttf");
    font-style: italic, oblique;
}
@font-face {
    font-family: "Righteous";
    src: url("fonts/Righteous/Righteous-BoldOblique.ttf");
    font-weight: bold;
    font-style: italic, oblique;
} */

.fas {
    cursor: pointer;
}

#main-fave-button {
    color: #646464;
    transition: color 0.2s ease;
}

#next-track-button {
    color: #646464;
}

.faved {
    color: #ff6633!important;
    transition: color 0.2s ease;
}

body {
    background-image: linear-gradient(to bottom, grey, grey);
    /* width: 100vw;
    height: 100vh; */
    overflow: hidden;
    font-family: 'Righteous'!important;
    /* -webkit-transition: opacity 1s ease;
    -moz-transition: opacity 1s ease;
    -o-transition: opacity 1s ease;
    transition: opacity 1s ease; */
    z-index: -101;
}

#bg {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    -webkit-transition: opacity 1s ease;
    -moz-transition: opacity 1s ease;
    -o-transition: opacity 1s ease;
    transition: opacity 1s ease;
    opacity: 0;
    z-index: -100;
}

.Pop {
    background-image: linear-gradient(to bottom, #ED4264, #FFCEBC);
    -webkit-transition: opacity 1s ease;
    -moz-transition: opacity 1s ease;
    -o-transition: opacity 1s ease;
    transition: opacity 1s ease;
    opacity: 1!important;
}

.Funk {
    background-image: linear-gradient(to bottom, #45A247, #283C86);
    -webkit-transition: opacity 1s ease;
    -moz-transition: opacity 1s ease;
    -o-transition: opacity 1s ease;
    transition: opacity 1s ease;
    opacity: 1!important;
}

.Rock {
    background-image: linear-gradient(to bottom, #DCE35B, #45B649);
    -webkit-transition: opacity 1s ease;
    -moz-transition: opacity 1s ease;
    -o-transition: opacity 1s ease;
    transition: opacity 1s ease;
    opacity: 1!important;
}

.Alternative {
    background-image: linear-gradient(to bottom, #005AA7, #FFFDE4);
    -webkit-transition: opacity 1s ease;
    -moz-transition: opacity 1s ease;
    -o-transition: opacity 1s ease;
    transition: opacity 1s ease;
    opacity: 1!important;
}

.Folk {
    background-image: linear-gradient(to bottom, #43C6AC, #F8FFAE);
    -webkit-transition: opacity 1s ease;
    -moz-transition: opacity 1s ease;
    -o-transition: opacity 1s ease;
    transition: opacity 1s ease;
    opacity: 1!important;
}

.Electronica {
    background-image: linear-gradient(to bottom, #5C258D, #4389A2);
    -webkit-transition: opacity 1s ease;
    -moz-transition: opacity 1s ease;
    -o-transition: opacity 1s ease;
    transition: opacity 1s ease;
    opacity: 1!important;
}

#song-info-div {
    font-family: 'Righteous'!important;
    color: white;
    padding: 15px;
}

#track-title {
    text-shadow: 1px 0 0 currentColor;
    transform: skewX(-10deg);
}

#artist-and-year {
}

.score-and-author {
    padding-top: 15px;
    padding-bottom: 15px;
    max-height: 15vh;
}

#pitchfork-logo {
    width: 100%;
}

.review-score-container {
    position: relative;
    left: 100%;
    transform: translateX(-100%);
    width: 7vh;
    height: 7vh;
    border: 10px solid white;
    border-radius: 50%;
    font-size: 1.5em;
}

/* .review-score-container {
    display: block;
    content: "";
    padding-bottom: 100%;
} */

.review-score {
    position: relative;
    color: white;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#review-snippet-container {
    border-left: 10px solid white;
    color: white;
    text-decoration: none;
}

#review-snippet-container a {
    text-decoration: none;
    color: white;
}

#review-snippet-container a:hover {
    text-decoration: none;
    color: white;
}

#spotify-and-play-links-container {
    /* width: 50%; */
    
}

#spotify-and-play-links-container img {
    max-height: 6vh;
    margin-top: 15px;
}

#spotify-and-play-links-div{
    margin-right: auto;
    margin-left: auto;
}

#spotify-link {
    margin-right: 15px;
}

#play-link {
    margin-left: 15px;
}

#header-section {
    height: 10vh;
}

.top-bar-icon {
    margin-top: 15px;
    max-height: 8vh;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: opacity 0.2s ease;
}

.transparent-button {
    opacity: 0;
    transition: opacity 0.2s ease;
}

#player-section {
    height: 80vh;
    padding: 30px;
}

canvas {
    margin-right: auto;
    margin-left: auto;
    /* width: 70%!important; */
    /* background-color: #ff6633;get rid of this line once the canvas is implemented */
}

#action-buttons-div {
    /* display: block; */
    font-size: 5vh;
    color: #646464;
    /* height: 2em; */
}

/* #action-buttons-p {
    padding: 0px;
    margin: 0px;
    position: relative;
    top: calc(-30px);
    right: 0px;
    transform: translateY(-100%);
} */

#footer-section {
    height: 10vh;
}

.footer-text {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.side-bar {
    height: 100vh;
    min-width: 30vw;
    background-color: #646464e6;
    position: absolute;
    top: 0px;
    left: 100%;
    text-align: center;
    color: white;
    padding: 30px;
    transition: transform 0.5s ease-in-out;
}

#main-side-bar {
}

.revealed-side-bar {
    transform: translateX(-100%);
    transition: transform 0.5s ease-in-out;
}


#user-row {
    margin-top: 30px;
    margin-bottom: 30px;
}

.avatar {
    border-radius: 50%;
    width: 100%;
}

.avatar-editor {
    position: absolute;
    top: 0px;
    left: 15px;
    opacity: 0;
    border-radius: 50%;
    background-color: #646464b0;
    width: calc(100% - 30px);
    height: calc(100%);
}

.avatar-editor:hover {
    opacity: 1;
    /* transition: opacity 0.1s ease; */
}

.avatar-editor i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2.5em;
}

.username {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-70%, -50%);
}

#hearts {
    color: #2e2e2e;
    margin-bottom: 30px;
}

#favourites-container {
    color: white;
    max-height: 50vh;
    overflow:scroll;
    overflow-x:hidden;
    overflow-y: scroll;
}

.liked-song:hover {
    color: #2e2e2e;
}

.liked-song i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    font-size: 2em;
}

.liked-song:hover i {
    opacity: 1;
}

#end-of-faves-dash {
    background-color: white;
    width: 10%;
    height: 3px;
    margin-top: calc(15px + 1rem);
    margin-bottom: calc(15px + 1rem);
    margin-right: auto;
    margin-left: auto;
}

.side-menu-nav-button {
    /* padding: 30px; */
    width: 30%;
    min-height: 5vh;
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.side-menu-nav-button i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.side-menu-nav-button:hover {
    background-color: #515151e6;
}


#profile-side-bar {
}

.avatar-section {
    /* width: 50%; */
    margin-right: auto;
    margin-left: auto;
    margin-top: 50px;
    margin-bottom: 15px;
    width: 20vh;
    height: 20vh;
}

#avatar-preview {
    width: 20vh;
    height: 20vh;
    overflow: hidden;
}

.avatar-section .avatar-editor {
    width: 20vh;
    height: 20vh;
    left: 50%;
    transform: translateX(-50%);
}

#avatar-file-input {
    position: absolute;
    left: 10000px;
}

.username-section {
    margin-top: 30px;
    /* margin-bottom: 30px; */
}

.profile-info-field {
    margin-bottom: 30px;
    line-height: 1.5rem;
    padding-top: 6px;
    padding-bottom: 6px;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid gray;
    color: white;
    text-align: center;
    border-radius: .25rem;
    width: 50%;
    height: 36px;
}

.profile-info-field:focus, .profile-info-field:active {
    outline: none;
    background-color: #515151e6;
}

.form-button {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 50%;
    background-color: #515151e6;
}

.form-button:hover {
    background-color: #393939da;
}

#delete-profile-button {
    background-color: #ED4264;
    color: #515151;
}

#logout-button {
    margin-top: 45px;
}

#password-side-bar {
}

#login-form {
    margin-top: 50px;
}

#password-form {
    margin-top: 50px;
}

.password-section {
    margin-top: 30px;
}

.sign-up-button {
    margin-top: 0px;
}

.topspace-p {
    margin-top: 30px!important;
}